@charset "UTF-8";

.join_area .logo, .join_agree .logo, .join_finish .logo {display:block;}
.join_area .card {border-radius:15px;}
.join_area .no_check {color:red;}
.join_area .no_check {color:red;}
.join_area .info {font-size:12px;}
.join_area #msg {font-size:14px;}
.join_area.join #id {width:calc(100% - 150px);margin-right:10px;display:inline-block;vertical-align:top;}
.join_area .btn {background-color:var(--main-color);color:#fff;}
.join_area .check_btn {line-height:36px;padding-top:0;padding-bottom:0;vertical-align:top;}
.join_area #address1, .join_area #address2 {margin-bottom:5px;}
.join_area #postcode {width:160px;float:left;margin-right:20px;}
.join_area input::-webkit-input-placeholder {font-size:16px;}
.join_area input:-ms-input-placeholder {font-size:16px;}
.join_agree label {display:block;}
.join_agree .agree_fr {border:2px solid #eee;height:300px;overflow-y:auto;white-space:pre-wrap;padding:24px;}
.join_agree #in_btn1 {background-color:var(--main-color);color:#fff;padding:0 3.5rem;line-height:3;}

.board_area {border-top:1px solid #c4c6c8;border-bottom:1px solid #c4c6c8;box-sizing:border-box;}
.board_area .board_top, .board_area .board_files {background:#f8f8fa;}
.board_area .board_top .board_title {color:#000;font-size:1.4em;font-weight:500;}
.board_area .board_top .board_title > span {color:#666;font-size:1rem;right:1.5em;}

.file_area label > span:active, .file_area label > span:focus {border:none;}

/*모바일*/
@media all and (max-width:768px) {
}

/* 태블릿 */
@media all and (min-width:769px) and (max-width:1024px) {

}

@media all and (min-width:1025px) and (max-width:1199px) {

}

/* PC */
@media all and (min-width:1200px) {

}