<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.LectureMapper">
    <select id="lectureList" resultType="kr.ed.haebeop.domain.LectureVO">
        <![CDATA[
        select * from lectureView
        ]]>
        <where>
            <if test="cateNo != ''">
                cateNo = #{cateNo}
            </if>
            <trim prefix="AND">
                <if test="searchType != null">
                    <choose>
                        <when test="searchType == 'nm'.toString()">
                            nm LIKE concat('%', #{searchKeyword}, '%')
                        </when>
                        <when test="searchType == 'title'.toString()">
                            title LIKE concat('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </if>
            </trim>
        </where>
        <![CDATA[
        ORDER BY useYn DESC, lno ASC LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="lectureCount" resultType="integer">
        <![CDATA[
        select count(*) from lectureView
        ]]>
        <where>
            <if test="cateNo != ''">
                cateNo = #{cateNo}
            </if>
            <trim prefix="AND">
                <if test="searchType != null">
                    <choose>
                        <when test="searchType == 'nm'.toString()">
                            nm LIKE concat('%', #{searchKeyword}, '%')
                        </when>
                        <when test="searchType == 'title'.toString()">
                            title LIKE concat('%', #{searchKeyword}, '%')
                        </when>
                    </choose>
                </if>
            </trim>
        </where>
    </select>

    <select id="lectureListLast" resultType="kr.ed.haebeop.domain.Lecture">
        select * from lecture order by lno desc limit 1
    </select>

    <select id="lectureGet" resultType="kr.ed.haebeop.domain.LectureVO">
        select * from lectureView where lno = #{lno}
    </select>

    <insert id="lectureInsert">
        INSERT INTO lecture VALUES(DEFAULT, #{title}, #{subTitle}, #{content}, #{lectureType}, #{studentCnt}, #{startDate}, #{endDate}, #{daily}, #{proNo}, #{cateNo}, #{teacherId}, #{lPrice}, #{useYn})
    </insert>

    <update id="lectureUpdate">
        UPDATE lecture SET title = #{title}, subTitle = #{subTitle}, content = #{content}, lectureType = #{lectureType}, studentCnt = #{studentCnt}, startDate = #{startDate}, endDate = #{endDate}, daily = #{daily}, proNo = #{proNo}, cateNo = #{cateNo}, teacherId = #{teacherId}, lPrice = #{lPrice}, useYn = #{useYn} WHERE lno = #{lno}
    </update>

    <delete id="lectureDelete">
        DELETE FROM lecture WHERE lno = #{lno}
    </delete>

    <select id="lectureListMain" resultType="kr.ed.haebeop.domain.LectureVO">
        select * from lectureView ORDER BY lno desc limit 3
    </select>

</mapper>