<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.ed.haebeop.persistence.MemberMapper">
    <select id="memberList" resultType="kr.ed.haebeop.domain.Member">
        <![CDATA[
        SELECT * FROM member
        ]]>
        <where>
            id NOT IN ('admin')
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'id'.toString()">
                        AND id LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'name'.toString()">
                        AND nm LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        ORDER BY useYn DESC, grade DESC, regDate ASC LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="memberCount" resultType="integer">
        <![CDATA[
        SELECT COUNT(*) FROM member
        ]]>
        <where>
            id NOT IN ('admin')
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'id'.toString()">
                        AND id LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                    <when test="searchType == 'name'.toString()">
                        AND nm LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="memberTeacherList" resultType="kr.ed.haebeop.domain.Member">
        <![CDATA[
        SELECT * FROM member
        ]]>
        <where>
            grade = 1 AND useYn = true
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'name'.toString()">
                        AND nm LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
        <![CDATA[
        ORDER BY regDate ASC LIMIT #{postStart}, #{postCount}
        ]]>
    </select>

    <select id="memberTeacherCount" resultType="integer">
        <![CDATA[
        SELECT COUNT(*) FROM member
        ]]>
        <where>
            grade = 1 AND useYn = true
            <if test="searchType != null">
                <choose>
                    <when test="searchType == 'name'.toString()">
                        AND nm LIKE concat('%', #{searchKeyword}, '%')
                    </when>
                </choose>
            </if>
        </where>
    </select>

    <select id="getMember" resultType="kr.ed.haebeop.domain.Member">
        SELECT * FROM member WHERE id = #{id} AND useYn = TRUE
    </select>

    <select id="idCheck" resultType="integer">
        SELECT COUNT(*) FROM member WHERE id = #{id}
    </select>

    <select id="getTeacherMain" resultType="kr.ed.haebeop.domain.Member">
        select * from member where grade = 1 limit 4;
    </select>

    <insert id="insert">
        INSERT INTO member VALUES (DEFAULT, #{id}, #{pw}, #{nm}, #{email}, #{tel}, #{addr1}, #{addr2}, #{postcode}, DEFAULT, #{birth}, DEFAULT, DEFAULT, DEFAULT, #{grade})
    </insert>

    <update id="updateMemberForTeacher">
        UPDATE member SET grade = 1 WHERE id = #{id}
    </update>

    <update id="firepoint">
        UPDATE member SET pt= pt + #{pt} WHERE id = #{id}
    </update>

    <update id="updateMember">
        UPDATE member SET email = #{email}, tel = #{tel}, addr1 = #{addr1}, addr2 = #{addr2}, postcode = #{postcode}, birth = #{birth} WHERE id = #{id}
    </update>

    <update id="updatePw">
        UPDATE member SET pw = #{pw} WHERE id = #{id}
    </update>

    <delete id="removeMember">
        delete from member where id = #{id}
    </delete>
</mapper>